In [35]:
import pandas as pd
import mysql
from connect import connect_db

In [36]:
connect = connect_db

In [37]:
def get_table_data(connection, table_name):
    """Fetches the entire table and returns it as a pandas DataFrame."""
    if connection is None:
        print("No connection available to fetch data.")
        return None

    cursor = connection.cursor()

    try:
        # Execute the query to fetch the entire table
        cursor.execute(f"SELECT * FROM {table_name}")
        rows = cursor.fetchall()

        # Get column names
        column_names = [i[0] for i in cursor.description]

        # Create a DataFrame from the fetched data
        df = pd.DataFrame(rows, columns=column_names)
        
        return df
    except mysql.connector.Error as e:
        print(f"Error: {e}")
        return None
    finally:
        cursor.close()


def fetch_table_data(table_name):
    """Connects to the database and fetches the entire table as a pandas DataFrame."""
    connection = connect_db()
    df = get_table_data(connection, table_name)
    if connection is not None and connection.is_connected():
        connection.close()
    return df

In [38]:
df = fetch_table_data("product_view_logs")

Successfully connected to the database

In [39]:
df.head(10)

,id,user_id,product_id,user_lat,user_long,phone_metadata,user_phone_number,created_at,updated_at
0,1,292,851,NaN,NaN,None,+237651865148,2021-10-28 08:34:25,2021-10-28 08:34:25
1,2,292,552,NaN,NaN,None,+237651865148,2021-10-28 08:34:43,2021-10-28 08:34:43
2,3,292,914,NaN,NaN,None,+237651865148,2021-10-28 08:42:03,2021-10-28 08:42:03
3,4,292,287,NaN,NaN,None,+237651865148,2021-10-28 08:42:22,2021-10-28 08:42:22
4,5,292,182,NaN,NaN,None,+237651865148,2021-10-28 08:42:36,2021-10-28 08:42:36
5,6,292,183,NaN,NaN,None,+237651865148,2021-10-28 08:42:44,2021-10-28 08:42:44
6,7,292,286,NaN,NaN,None,+237651865148,2021-10-28 08:42:58,2021-10-28 08:42:58
7,8,292,42,NaN,NaN,None,+237651865148,2021-10-28 08:43:07,2021-10-28 08:43:07
8,9,292,287,NaN,NaN,None,+237651865148,2021-10-28 08:43:15,2021-10-28 08:43:15
9,10,292,182,NaN,NaN,None,+237651865148,2021-10-28 08:44:10,2021-10-28 08:44:10

In [43]:
def get_tables_and_columns(connection):
    """Fetches all tables and their columns from the database."""
    if connection is None:
        print("No connection available to fetch data.")
        return None

    cursor = connection.cursor(dictionary=True)

    try:
        tables_info = []

        # Fetch all table names
        cursor.execute("SHOW TABLES")
        tables = cursor.fetchall()

        for table in tables:
            table_name = table[f"Tables_in_{connection.database}"]
            cursor.execute(f"SHOW COLUMNS FROM {table_name}")
            columns = cursor.fetchall()
            tables_info.append({"table_name": table_name, "columns": [column['Field'] for column in columns]})

        return tables_info
    except mysql.connector.Error as e:
        print(f"Error: {e}")
        return None
    finally:
        cursor.close()

In [42]:
# Connect to the database
connection = connect_db()

# Fetch all tables and their columns
tables_info = get_tables_and_columns(connection)

tables_info = get_tables_and_columns(connection)

# Print the tables and their columns
for table_info in tables_info:
    print(f"Table: {table_info['table_name']}")
    print(f"Columns: {', '.join(table_info['columns'])}")
    print()

# Close the connection
if connection is not None and connection.is_connected():
    connection.close()

Successfully connected to the database
Table: announcements
Columns: ['id', 'title', 'title_fr', 'cover_image', 'video_link', 'description', 'description_fr', 'admin_id', 'status', 'publication_date', 'created_at', 'updated_at']

Table: attribute_values
Columns: ['id', 'name', 'value', 'product_attribute_id', 'created_at', 'updated_at']

Table: attributes
Columns: ['id', 'name', 'name_fr', 'created_at', 'updated_at']

Table: banners
Columns: ['id', 'image', 'vendor_id', 'created_at', 'updated_at']

Table: brands
Columns: ['id', 'name', 'image', 'category_id', 'created_at', 'updated_at']

Table: buy_logs
Columns: ['id', 'user_id', 'product_id', 'button_type', 'user_lat', 'user_long', 'phone_metadata', 'user_phone_number', 'created_at', 'updated_at']

Table: c_r_m_s
Columns: ['id', 'title', 'vendor_id', 'admin_id', 'comment', 'created_at', 'updated_at']

Table: categories
Columns: ['id', 'name', 'image', 'category_id', 'name_fr', 'created_at', 'updated_at']

Table: category_view_logs
Columns: ['id', 'user_id', 'category_id', 'user_lat', 'user_long', 'phone_metadata', 'user_phone_number', 'created_at', 'updated_at']

Table: countries
Columns: ['id', 'name', 'iso', 'code', 'currency', 'created_at', 'updated_at', 'domain']

Table: documents
Columns: ['id', 'user_id', 'type', 'path', 'created_at', 'updated_at']

Table: failed_jobs
Columns: ['id', 'uuid', 'connection', 'queue', 'payload', 'exception', 'failed_at']

Table: faqs
Columns: ['id', 'question', 'answer', 'created_at', 'updated_at']

Table: locations
Columns: ['id', 'name', 'latitude', 'longitude', 'radius', 'created_at', 'updated_at', 'country_id']

Table: migrations
Columns: ['id', 'migration', 'batch']

Table: news_sub_categories
Columns: ['id', 'created_at', 'updated_at']

Table: notifications
Columns: ['id', 'type', 'notifiable_type', 'notifiable_id', 'data', 'read_at', 'created_at', 'updated_at']

Table: oauth_access_tokens
Columns: ['id', 'user_id', 'client_id', 'name', 'scopes', 'revoked', 'created_at', 'updated_at', 'expires_at']

Table: oauth_auth_codes
Columns: ['id', 'user_id', 'client_id', 'scopes', 'revoked', 'expires_at']

Table: oauth_clients
Columns: ['id', 'user_id', 'name', 'secret', 'provider', 'redirect', 'personal_access_client', 'password_client', 'revoked', 'created_at', 'updated_at']

Table: oauth_personal_access_clients
Columns: ['id', 'client_id', 'created_at', 'updated_at']

Table: oauth_refresh_tokens
Columns: ['id', 'access_token_id', 'revoked', 'expires_at']

Table: pages
Columns: ['id', 'title', 'title_fr', 'type', 'content', 'content_fr', 'created_at', 'updated_at']

Table: password_resets
Columns: ['email', 'token', 'created_at']

Table: permissions
Columns: ['id', 'name', 'name_fr', 'slug', 'created_at', 'updated_at']

Table: product_attribute_values
Columns: ['id', 'product_attribute_id', 'value_id', 'created_at', 'updated_at']

Table: product_attributes
Columns: ['id', 'product_id', 'attribute_id', 'created_at', 'updated_at']

Table: product_images
Columns: ['id', 'product_id', 'image', 'image_original', 'image_thumb', 'image_medium', 'created_at', 'updated_at']

Table: product_view_logs
Columns: ['id', 'user_id', 'product_id', 'user_lat', 'user_long', 'phone_metadata', 'user_phone_number', 'created_at', 'updated_at']

Table: product_whole_sales
Columns: ['id', 'product_id', 'quantity', 'price', 'created_at', 'updated_at']

Table: products
Columns: ['id', 'user_id', 'name', 'name_fr', 'category_id', 'currency', 'price', 'hash', 'image', 'image_original', 'image_thumb', 'image_medium', 'description', 'description_fr', 'search_index', 'country', 'latitude', 'longitude', 'brand_id', 'created_at', 'updated_at', 'whole_sale', 'deleted_at', 'sellam_id']

Table: promotions
Columns: ['id', 'title', 'title_fr', 'description', 'description_fr', 'image', 'image_thumb', 'image_medium', 'product_id', 'vendor_id', 'latitude', 'longitude', 'start_date', 'end_date', 'status', 'payment_plan', 'created_at', 'updated_at']

Table: registered_user_tokens
Columns: ['id', 'user_id', 'token', 'created_at', 'updated_at']

Table: reviews
Columns: ['id', 'score', 'message', 'user_id', 'vendor_id', 'status', 'created_at', 'updated_at']

Table: role_permissions
Columns: ['id', 'role_id', 'permissions_id', 'updated_at', 'created_at']

Table: roles
Columns: ['id', 'name', 'name_fr', 'slug', 'created_at', 'updated_at']

Table: search_logs
Columns: ['id', 'user_id', 'keyword', 'number_of_results', 'user_lat', 'user_long', 'phone_metadata', 'user_phone_number', 'created_at', 'updated_at']

Table: sellam_category_views
Columns: ['id', 'user_id', 'category_id', 'user_lat', 'user_long', 'phone_metadata', 'user_phone_number', 'created_at', 'updated_at']

Table: sellam_orders
Columns: ['id', 'sellam_product_id', 'product_id', 'user_id', 'price', 'delivery_fee', 'status', 'payment_method', 'recipient_name', 'recipient_phone', 'recipient_address', 'city', 'quantity', 'created_at', 'updated_at', 'payment_status', 'reference']

Table: sellam_product_views
Columns: ['id', 'user_id', 'product_id', 'button_type', 'user_lat', 'user_long', 'phone_metadata', 'user_phone_number', 'created_at', 'updated_at']

Table: sellam_products
Columns: ['id', 'product_id', 'user_id', 'name', 'name_fr', 'category_id', 'currency', 'price', 'hash', 'image', 'image_thumb', 'image_original', 'image_medium', 'description', 'description_fr', 'search_index', 'sellam_price', 'buyam_price', 'status', 'brand_id', 'country', 'latitude', 'longitude', 'whole_sale', 'created_at', 'updated_at']

Table: subscriptions
Columns: ['id', 'name', 'duration', 'amount', 'status', 'type', 'created_at', 'updated_at']

Table: templates
Columns: ['id', 'name', 'image', 'path', 'status', 'created_at', 'updated_at']

Table: user_invites
Columns: ['id', 'user_id', 'name', 'phone', 'email', 'status', 'data', 'language', 'message', 'created_at', 'updated_at']

Table: user_permissions
Columns: ['id', 'user_id', 'permission_id', 'created_at', 'updated_at']

Table: user_requests
Columns: ['id', 'type', 'image', 'user_id', 'description', 'latitude', 'longitude', 'status', 'created_at', 'updated_at']

Table: user_roles
Columns: ['id', 'user_id', 'role_id', 'updated_at', 'created_at']

Table: user_subscriptions
Columns: ['id', 'subscription_id', 'vendor_id', 'duration', 'amount', 'payment_method', 'status', 'phone_number', 'account_name', 'transaction_id', 'reference', 'created_at', 'updated_at', 'start_date', 'end_date']

Table: users
Columns: ['id', 'name', 'address', 'email', 'country', 'phone', 'image', 'image_thumb', 'image_medium', 'latitude', 'longitude', 'fire_base_token', 'imei', 'password', 'type', 'status', 'bio', 'bio_fr', 'email_verified_at', 'search_index', 'remember_token', 'created_at', 'updated_at', 'approved_at', 'approved_by', 'vendor_profile_stage']

Table: vendor_notification_logs
Columns: ['id', 'title', 'title_fr', 'message', 'message_fr', 'created_at', 'updated_at']

Table: vendor_notifications
Columns: ['id', 'user_id', 'title', 'title_fr', 'message', 'message_fr', 'type', 'status', 'action', 'content', 'language', 'published_date', 'created_at', 'updated_at']

Table: vendor_of_the_days
Columns: ['id', 'vendor_id', 'date', 'created_at', 'updated_at']

Table: vendor_ratings
Columns: ['id', 'vendor_id', 'total_rating_count', 'total_rating_value', 'total_average_rating', 'average_rating', 'weighted_rating', 'created_at', 'updated_at']

Table: vendor_search_logs
Columns: ['id', 'user_id', 'search_term', 'created_at', 'updated_at', 'total']

Table: vendor_view_logs
Columns: ['id', 'user_id', 'vendor_id', 'user_lat', 'user_long', 'phone_metadata', 'user_phone_number', 'created_at', 'updated_at']

Table: vendors
Columns: ['id', 'user_id', 'type', 'name', 'address', 'created_at', 'updated_at', 'subdomain', 'template_id', 'about', 'logo', 'facebook', 'twitter', 'instagram', 'linkedin', 'approved_at', 'managed_by_admin']

Table: wishlists
Columns: ['id', 'user_id', 'product_id', 'category_id', 'created_at', 'updated_at']